{% extends "layout.html" %}

{% block Title %} Añadiendo al carrito {% endblock %}

{% block body %} 
<div class="container Menu rounded pt-5 pb-1 shadow-lg">
    <div class="card translucid food">
        <div class="card-body">
    <form action="/agregar/" method="post">
        <h2 class="card-title my-2">{{elemento.categoria.nombre}} {{elemento.nombre}}</h2>

        {% if elemento.tipo != None %}
            <h4 class="card-title my-2">Tipo: {{elemento.tipo}}</h4>
        {%endif%}

        {% if elemento.tamanio != 'Tamaño_unico' %}
            <h4 class="card-title my-2">Tamaño: {{elemento.tamanio}}</h4>
        {%endif%}

        <h4 class="card-title my-2">Precio: {{elemento.precio}}$</h4>

        {% if elemento.toppingN > 0 %}
            <h4 class="card-title my-2">Numero de toppings: {{elemento.toppingN}}</h4>
        {%endif%}

        {% if extras != None %}
            <h3 class="card-title my-2">Extras</h3>
            {% for extra in extras %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        {{extra.nombre}} +{{extra.precio}}$
                    </label>
                </div>
            {%endfor%}
        {%endif%}

        {% for n in ToppingsN %}
        <select class="form-select" aria-label="Default select example">
            {% for topping in toppings %}
            <option value="{{ topping.uid }}" >{{ topping.nombre }}</option>
            {%endfor%}
          </select>
        {%endfor%}

        <a type="button"  href="/home"  class="btn btn-danger btn-lg">Cancelar <i class="fas fa-times fa-lg"></i></a>
        <a type="submit" class="btn btn-primary btn-lg">Confirmar orden y añadir al carrito <i class="fas fa-cart-plus fa-lg"></i></a>

</form>


</div>
</div>
</div>
{% endblock %}



